html {
  background: rgb(119,136,153);
}

body {
  color: rgb(51,51,51);
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-serif;
}

/* HEADER */

#header {
  height: 80px;
}

.logo {
  color: rgb(255,255,255);
  font: bold 197% "Lucida Sans Unicode", "Lucida Grande", Sans-serif;
  margin-left: 20px;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}

#main_nav {
  color: rgb(204,204,204);
  float: right;
  margin: 27px 0px;
}

#main_nav li {
  display: inline;
  list-style: none;
}

#main_nav li a:link,
#main_nav li a:visited,
#main_nav li a:hover,
#main_nav li a:active {
  color: rgb(204,204,204);
  display: inline-block;
  padding: 5px;
  text-decoration: none;
}

#main_nav li a:hover {
  background: rgb(255,255,255);
  border-radius: 4px;
  -webkit-box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
  color: rgb(0,51,102);
}

/* CONTENT */

div.flash-notice {
  border: 1px solid rgb(0,153,51);
  background: rgb(153,255,204);
  color: rgb(0,153,51);
  margin: 10px;
  padding: 10px;
}

#content {
  background: rgb(255,255,255);
  -webkit-box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}

#page_title {
  float: left;
  margin-left: 20px;
}

.page_title {
  background: rgb(51,102,143);
  color: rgb(255,255,255);
  margin-bottom: 10px;
  margin-top: 10px;
}

.order_nav {
  color: rgb(51,102,153);
  position: relative;
  text-align: right;
  top: 5px;
}

.order_nav a:link,
.order_nav a:visited,
.order_nav a:hover,
.order_nav a:active {
  color: rgb(51,102,153);
  display: inline-block;
  padding: 5px;
  text-decoration: none;
}

.order_nav a:hover {
  color: rgb(0,51,102);
}

/* products/index */
#filter_form {
  float: right;
  margin: 18px 20px 0px 0px;
}

.product[id|=product] {
  padding: 10px;
  width: 760px;
}

.product {
  background: rgb(245,245,245);
  border-top: 1px solid rgb(204,204,204);
  border-bottom: 1px solid rgb(204,204,204);
  margin-bottom: 10px;
  height: 78px;
  -webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.25);
}

.product h3 {
  color: rgb(0,51,102);
  font: bold 116% "Lucida Sans Unicode", "Lucida Grande", Sans-serif;
  margin-top: 0px;
}

.product p.price {
  margin: 0px;
}

.admin_nav {
  color: rgb(51,102,153);
  margin: 10px 0px 0px;
  padding: 2px;
  text-align: right;
}

.admin_nav li {
  display: inline;
  list-style: none;
}

.admin_nav li a:link,
.admin_nav li a:visited,
.admin_nav li a:hover,
.admin_nav li a:active {
  color: rgb(51,102,153);
  font-size: 77%;
  text-decoration: none;
}

.admin_nav li a:hover {
  color: rgb(0,51,153);
}

.add_product {
  background: rgb(220,220,220);
  border-top: 1px solid rgb(204,204,204);
  border-bottom: 1px solid rgb(204,204,204);
  height: 98px;
  padding-left: 20px;
  -webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.25);
}

.add_product input[type=number] {
  margin-bottom: 20px;
  width: 125px;
}

.add_product p {
  position: relative;
  top: 8px;
}

a.new_product_link:link,
a.new_product_link:visited,
a.new_product_link:hover,
a.new_product_link:active {
  color: rgb(51,102,153);
  display: block;
  font: bold 108% "Lucida Sans Unicode", "Lucida Grande", Sans-serif;
  margin-bottom: 10px;
  text-decoration: none;
}

a.new_product_link:hover {
  color: rgb(0,51,102);
}

/* orders/show */

.section_title {
  background: rgb(245,245,245);
  border-top: 2px solid rgb(51,102,153);
  text-indent: 20px;
}

.payment_value {
  color: rgb(153,0,0);
}

.payments_area {
  position: relative;
  top: -52px;
}

.payments_area h3 {
  margin-top: 4px;
}

#payment_form {
  background: rgb(245,245,245);
  margin-bottom: 10px;
  padding: 10px;
  width: 200px;
}

#payment_form h2 {
  margin-top: 0px;
}

#payment_form input {
  width: 190px;
}

/* FOOTER */

#footer {
  background: rgb(105,105,105);
  margin-top: 25px;
  padding: 5px;
  text-align: right;
  width: 950px;
}

#footer a:link,
#footer a:visited,
#footer a:hover,
#footer a:active {
  color: rgb(204,204,204);
  font: bold 77% "Lucida Sans Unicode", "Lucida Grande", Sans-serif;
  text-decoration: none;
}

#footer a:hover {
  color: rgb(255,255,255);
}