<h1>Listing orders</h1>

<table>
  <tr>
    <th>Address</th>
    <th>State</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @orders.each do |order| %>
  <tr>
    <td><%= order.address %></td>
    <td><%= order.state %></td>
    <td><%= link_to 'Show', order %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Order', new_order_path %>
